html, body, header{
    
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url('./img/outside.jpg');    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20vw; 
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
}

header h1{
    vertical-align: middle;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 300%;
    border-radius: 25px;
    margin-bottom: -11px;
    margin-top: -11px;
    margin-right: -15px;
}
header h1 #one{
    background-color: white;
    color: blue;
    border-radius: 25px 0px 0px 25px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin:0px;
}
header h1 #two{
    background-color: blue;
    color: white;
    border-radius: 0px 25px 25px 0px;                                                   
    padding: 10px;
    margin:0px;
    margin-left: -15px;
}
header #desc{
    background-color: rgba(50, 50, 255, 0.7);
    color: white;
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px; 
}
header #name{
    background-color: rgba(50, 50, 255, 0.85);
    color: white;
    padding: 10px;
    margin:0px;
    border-radius: 5px 5px 0px 0px; 
}
body{
    text-align: center;
}
#list{
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    font-size: 110%;
}#list ul{
    display: inline-block;
}
#blue{
    margin:0px;
    background-color:  rgb(50, 50, 255);
    color: white;
    padding: 20px;
    font-size: 110%;
    margin:0px; 
    padding-left: auto;
    padding-right: auto;
}
#blue a{
    color: lightblue;
}
#blue a:hover{
    color: white;
}
#price{
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 30px; 
    padding-left: auto;
    padding-right: auto;
    margin:0 auto;
    border-radius: 0px 0px 10px 10px;
    font-size: 120%;
}
#price h1{
    margin: 0px;
}
#price p{
    margin-bottom: 0px;
}
@media screen and (max-width: 610px) {
    header h1{
        font-size: 200%;
    }
    #desc{
        font-size: 110%;
    }
    #list{
        font-size: 100%;
    }
    #blue{
        font-size: 100%;
    }#price{
        font-size: 110%;
    }
  }
  @media screen and (max-width: 400px) {
      header h1{
          font-size: 150%;
      }
      #desc{
          font-size: 80%;
      }
      #list{
          font-size: 70%;
      }
      #blue{
          font-size: 70%;
      }#price{
          font-size: 80%;
      }
    }
    @media screen and (max-width: 360px) {
         #price{
             padding-left: 0px;
             padding-right: 0px;
         }
      }